* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
}