.form-two-main-container {
    @include buttons();

    .form-two-container {
        @include formsStyles ();
        height: 500px;
        transition: .4s;
        
        input {
            display: none;
        }

        .plans {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 12px;

            cursor: pointer;
            padding: 0 14px;
            margin: 12px 0;
            width: 295px;
            height: 80px;
            border: 1px solid $cool-gray;
            border-radius: 10px;
            transition: .4s;
            &:hover {
                border: 2px solid $purple;
            }

            .header, .price, .bonus-months {
                padding: 3px 0;
            }
            
            .header {
                font-weight: 800;
            }
    
            .price {
                color: $cool-gray;
            }

        }

        .yearly {
            height: 100px;
            transition: .4s;
        }

        .selected {
            border: 1px solid $purple;
            background-color: #f8f9fe;
        }
    
        .form-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 24px;
    
            width: 295px;
            height: 50px;
            border-radius: 10px;
            background-color: #f8f9fe;
            transition: .4s;
            .switch {
                position: relative;
                display: inline-block;
                width: 40px;
                height: 20px;
                input {
                    opacity: 0;
                    width: 0;
                    height: 0;
                }
        
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $marine-blue;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 34px;
                }
        
                .slider:before {
                    position: absolute;
                    content: "";
                    height: 14px;
                    width: 14px;
                    left: 4px;
                    bottom: 3px;
                    background-color: white;
                    -webkit-transition: .4s;
                    transition: .4s;
                    border-radius: 50%;
                }
        
                input:checked + .slider:before {
                    -webkit-transform: translateX(16px);
                    -ms-transform: translateX(16px);
                    transform: translateX(16px);
                }
            }
        }
    }

    .extend {
        height: 570px;
        transition: .4s;
    }
}

@media screen and (min-width: 1440px) {
    .form-two-main-container {
        .form-two-container {
            padding: 50px 85px 70px 90px;
            .add-ons-container {
                display: flex;
                gap: 20px;
            }

            .plans {
                flex-direction: column;
                align-items: start;
                gap: 35px;

                padding: 20px 14px;
                width: 140px;
                height: 164px;
    
                figure {
                    width: 42px;
                    height: 42px;
                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }
    
            .yearly {
                height: 186px;
            }
    
            .selected {
                border: 1px solid $purple;
                background-color: #f8f9fe;
            }
        
            .form-slide {
                width: 100%;
                margin-top: 20px;

                p {
                    font-size: 18px;
                    font-weight: 500;
                }
            }
        }
        
        .extend {
            height: 500px;
        }
    }
}