@mixin flexRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.form-four-main-container {
    @include buttons();

    .form-four-container {
        @include formsStyles ();
        .chosen-services {
            background-color: #f8f9fe;
            border-radius: 10px;
            padding: 20px 15px;
    
            .plan {
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                .plan-details {
                    padding-bottom: 10px;
                    li {
                        font-size: 16px;
                        font-weight: 500;
                    }
    
                    a {
                        text-decoration: underline;
                        color: $cool-gray;
                        font-weight: 400;
                        &:hover {
                            color: $purple;
                        }
                    } 
                }
    
                .plan-price {
                    font-weight: 800;
                }
            }
            
            .bonus {
                @include flexRow();
    
                .add-on {
                    color: $cool-gray;
                    font-size: 15px;
                    padding: 16px 0 3px 0;
                }
    
                .add-on-price {
                    color: black;
                    padding: 16px 0 3px 0;
                }
            }
        }

    }

    .price-all {
        padding: 28px 15px 0 15px;
        @include flexRow();

        p {
            color: $cool-gray;
            font-size: 15px;
        }

        .total-price {
            color: $purple;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .form-four-main-container {
        .form-four-container {
            width: 100%;
            .chosen-services {
                width: 445px;
                padding: 20px 15px;
                margin-top: 40px;
                .plan {
                    margin-bottom: 25px;
                    .plan-details {
                        padding-bottom: 10px;
                        li {
                            font-size: 18px;
                        }
        
                        a {
                          font-size: 16px;
                        }
                    }

                    .plan-price {
                        font-size: 18px;
                    }
                }
                
                .bonus {
                    .add-on, .add-on-price {
                        font-size: 16px;
                        padding: 20px 0 3px 0;
                    }
                }
            }
        }
    
        .price-all {
            .total-price {
                font-size: 18px;
            }
        }
    }
}