main {
    min-height: 100dvh;
}

@media screen and (min-width: 1024px) {
    main {
        min-height: unset;
        width: 940px;
        height: 600px;
        border-radius: 15px;
        background-color: $white;
        margin: calc((100vh - 600px) / 2) calc((100vw - 940px) / 2);
        padding: 15px;

        display: flex;
        flex-direction: row;
    }
}