/* Primary Colors */

$marine-blue: hsl(213, 96%, 18%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);
$purple: #4639ff;

/* Natural Colors */

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

@mixin formsStyles {
    position: absolute;
    top: 95px;
    margin: 0 calc((100vw - 345px) / 2);

    width: 345px;
    background-color: $white;
    border-radius: 10px;
    padding: 35px 22px;

    .form-header {
        margin-bottom: 10px;
    }

    .form-description {
        color: $cool-gray;
        line-height: 1.5;
        margin-bottom: 24px;
        padding-right: 25px;
    } 

    @media screen and (min-width: 1024px) {
        position: unset;
        grid-area: form;
        margin: 0;
        width: 100%;
        height: 500px;
        padding: 50px 85px 90px 100px;

        .form-header {
            font-size: 32px;
        }
    
        .form-description {
            padding-right: 0;
            font-size: 16px;
        } 
    }
}

@mixin buttons {
    .bottom-navigation-btn-container {
        position: absolute;
        bottom: 0;
        background-color: $white;
        
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
        width: 100%;
        height: 70px;

        .back-btn {
            background-color: white;
            border: unset;
            font-size: 16px;
            color: $cool-gray;
        }
        
        .next-btn {
            width: 100px;
            height: 40px;
            background-color: $marine-blue;
            color: $white;
            border: unset;
            border-radius: 5px;
            font-size: 16px;
            &:hover {
                background-color: #174a89;
            }
        }

        .confirm-btn {
            background-color: $purple;
            &:hover {
                background-color: #938cff;
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .bottom-navigation-btn-container {
            position: unset;
            padding: 0 85px 17px 90px;

            .next-btn, .confirm-btn {
                width: 125px;
                height: 50px;
                font-size: 18px;
            }

            .back-btn {
                font-size: 18px;
            }
        }
    }
}

@import "./main";
@import "./aside";
@import "./formOne";
@import "./formTwo";
@import "./formThree";
@import "./formFour";
@import "./message";